:root {
  --tooltip-vertical-distance: 16px;
  --tooltip-arrow-size: 12px;
  --tooltip-arrow-edge-buffer: 12px;
  --tooltip-viewport-padding: 16px;
  --tooltip-background: #fff;
  --tooltip-border-color: #aaa;
  --tooltip-border-size: 1px;
  --tooltip-animation-length: .15s;
  --tooltip-arrow-radius: 0;
}

#tooltips {
  z-index: 99999;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.tooltip {
  position: fixed;
  transform: translate(-50%, calc(-100% - var(--tooltip-vertical-distance)));
  opacity: 0;
  transition: opacity var(--tooltip-animation-length), translate var(--tooltip-animation-length);
  translate: 0 4px;
  max-width: min(100% - var(--tooltip-viewport-padding) * 2, var(--tooltip-max-width, 100%));
}

.tooltip.visible {
  opacity: 1;
  translate: 0;
}

.tooltip.below {
  transform: translate(-50%, var(--tooltip-vertical-distance));
}

.tooltip.inside {
  top: var(--tooltip-viewport-padding) !important;
  transform: translateX(-50%);
}

.tooltip::before {
  content: "";
  position: absolute;
  width: calc(var(--tooltip-arrow-size) + var(--tooltip-border-size));
  height: calc(var(--tooltip-arrow-size) + var(--tooltip-border-size));
  background: var(--tooltip-background);
  left: 50%;
  bottom: var(--tooltip-border-size);
  transform: translate(-50%, calc(100%)) translateY(calc((var(--tooltip-arrow-size) + var(--tooltip-border-size)) * -0.5)) rotate(45deg);
  border: var(--tooltip-border-size) solid var(--tooltip-border-color);
  box-sizing: border-box;
  border-radius: var(--tooltip-arrow-radius);
  z-index: 1;
  mask-image: linear-gradient(to bottom right, transparent 50%, var(--tooltip-border-color) 50.001%);
}

.tooltip.below::before {
  bottom: initial;
  top: 0;
  transform: translate(-50%, calc(-100%)) translateY(calc((var(--tooltip-arrow-size) + var(--tooltip-border-size)) * 0.5 + var(--tooltip-border-size))) rotate(-135deg);
}

.tooltip-text {
  width: max-content;
  max-width: 100%;
  padding: 4px 6px;
  border-radius: 4px;
  background: var(--tooltip-background);
  border: var(--tooltip-border-size) solid var(--tooltip-border-color);
  text-align: center;
  box-sizing: border-box;
}

#sub-tooltip {
  --tooltip-background: skyblue;
}

#big-tooltip {
  --tooltip-max-width: 800px;
}