:root {
  --easy-tooltip-distance: 16px;
  --easy-tooltip-arrow-size: 12px;
  --easy-tooltip-arrow-edge-buffer-x: 12px;
  --easy-tooltip-arrow-edge-buffer-y: 6px;
  --easy-tooltip-viewport-padding: 16px;
  --easy-tooltip-border-size: 1px;
  --easy-tooltip-animation-length: .15s;
  --easy-tooltip-delay: .15s;
}

@property --easy-tooltip-background-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --easy-tooltip-text-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}

@property --easy-tooltip-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #aaa;
}

@property --easy-tooltip-arrow-radius {
  syntax: "<length-percentage>";
  inherits: true;
  initial-value: 0;
}

@property --easy-tooltip-max-width {
  syntax: "<length-percentage> | auto";
  inherits: true;
  initial-value: 100%;
}

#easy-tooltips {
  z-index: 99999;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.easy-tooltip {
  position: fixed;
  transform: translate(-50%, calc(-100% - var(--easy-tooltip-distance)));
  opacity: 0;
  transition: opacity var(--easy-tooltip-animation-length), translate var(--easy-tooltip-animation-length);
  translate: 0 4px;
  max-width: min(100% - var(--easy-tooltip-viewport-padding) * 2 - var(--easy-tooltip-left-offset, 0px) - var(--easy-tooltip-right-offset, 0px), var(--easy-tooltip-max-width, 100%));
  min-width: calc(var(--easy-tooltip-arrow-edge-buffer-x) * 2 + var(--easy-tooltip-arrow-size) * 1.41421356);
}

.easy-tooltip.easy-tooltip-visible {
  opacity: 1;
  translate: 0;
  transition-delay: var(--easy-tooltip-delay);
}

.easy-tooltip.easy-tooltip-below {
  transform: translate(-50%, var(--easy-tooltip-distance));
}

.easy-tooltip.easy-tooltip-inside {
  top: var(--easy-tooltip-viewport-padding);
  transform: translateX(-50%);
}

.easy-tooltip.easy-tooltip-inside.easy-tooltip-below {
  top: auto;
  bottom: var(--easy-tooltip-viewport-padding);
}

.easy-tooltip.easy-tooltip-inside.easy-tooltip-left {
  left: var(--easy-tooltip-viewport-padding);
  right: auto;
  transform: translateY(-50%);
}

.easy-tooltip.easy-tooltip-inside.easy-tooltip-right {
  left: auto;
  right: var(--easy-tooltip-viewport-padding);
  transform: translateY(-50%);
}

.easy-tooltip::before {
  content: "";
  position: absolute;
  width: calc(var(--easy-tooltip-arrow-size) + var(--easy-tooltip-border-size));
  height: calc(var(--easy-tooltip-arrow-size) + var(--easy-tooltip-border-size));
  background: var(--easy-tooltip-background-color);
  left: 50%;
  bottom: var(--easy-tooltip-border-size);
  transform: translate(-50%, calc(100%)) translateY(calc((var(--easy-tooltip-arrow-size) + var(--easy-tooltip-border-size)) * -0.5)) rotate(45deg);
  border: var(--easy-tooltip-border-size) solid var(--easy-tooltip-border-color);
  box-sizing: border-box;
  border-radius: var(--easy-tooltip-arrow-radius);
  z-index: 1;
  mask-image: linear-gradient(to bottom right, transparent 49.5%, var(--easy-tooltip-border-color) 49.5%);
}

.easy-tooltip.easy-tooltip-below::before {
  bottom: initial;
  top: 0;
  transform: translate(-50%, calc(-100%)) translateY(calc((var(--easy-tooltip-arrow-size) + var(--easy-tooltip-border-size)) * 0.5 + var(--easy-tooltip-border-size))) rotate(-135deg);
}

.easy-tooltip.easy-tooltip-right {
  transform: translate(var(--easy-tooltip-distance), -50%);
}

.easy-tooltip.easy-tooltip-left {
  transform: translate(calc(-100% - var(--easy-tooltip-distance)), -50%);
}

.easy-tooltip.easy-tooltip-left,
.easy-tooltip.easy-tooltip-right {
  min-width: 0;
}

.easy-tooltip.easy-tooltip-left .easy-tooltip-text,
.easy-tooltip.easy-tooltip-right .easy-tooltip-text {
  min-height: calc(var(--easy-tooltip-arrow-edge-buffer-y) * 2 + var(--easy-tooltip-arrow-size) * 1.41421356);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.easy-tooltip.easy-tooltip-right:not(.easy-tooltip-visible) {
  translate: -4px 0;
}

.easy-tooltip.easy-tooltip-left:not(.easy-tooltip-visible) {
  translate: 4px 0;
}

.easy-tooltip.easy-tooltip-right::before {
  bottom: initial;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%) translateX(calc((var(--easy-tooltip-arrow-size) + var(--easy-tooltip-border-size)) * 0.5 + var(--easy-tooltip-border-size))) rotate(135deg);
}

.easy-tooltip.easy-tooltip-left::before {
  bottom: initial;
  left: initial;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%) translateX(calc((var(--easy-tooltip-arrow-size) + var(--easy-tooltip-border-size)) * -0.5 - var(--easy-tooltip-border-size))) rotate(-45deg);
}

.easy-tooltip-text {
  width: max-content;
  max-width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  background: var(--easy-tooltip-background-color);
  color: var(--easy-tooltip-text-color);
  border: var(--easy-tooltip-border-size) solid var(--easy-tooltip-border-color);
  text-align: center;
  box-sizing: border-box;
  min-width: 100%;
}

.easy-tooltip-text:not(.easy-tooltip-text-html) {
  white-space: pre-line;
}

[data-easy-tooltip-src="next"] + * {
  display: none !important;
}